ion-content.newAccount-background{
    --background: url('../../images/FondoLogin.png')  0 0/270px 486px repeat;  
}

ion-toolbar.newAccount-toolbar{
    --background: transparent; 
}

ion-content.newAccount-content {
    --background: transparent; 
    
}

ion-item.links-items {
    color: dodgerblue;
    width: 100%;
    display: block;
    text-align: center;
    --background: transparent;
    --border-width: 0; 
    --inner-boder-width: 0; 
    border-radius: 15px;
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
    font-family: 'Kalam';
    font-size: 16px;
}

ion-card-header.newAccount-header {
    font-weight: bold;
    font-size: larger;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: lightblue;
    font-size: 38px;
}

ion-label.links-labels {
    display: block;
    font-size: smaller;
    color: dodgerblue;
    text-align: center;
}