.activity-title {
    white-space: nowrap;
    overflow: hidden;
    white-space: initial;
    color:#4dd7fa;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Kalam";
}

ion-card-subtitle.title-content{
    text-align: center;
}