ion-button.option-button {
    height: 10vh; 
    width: 70%;
    --border-radius: 15px;
    font-family: "Kalam";
    font-size: 26px;
}

ion-button.unselected {
    --background: #4dd7fa;
    color:black;
}

ion-button.selected {
    --background: #9c29b7;
    color: #4dd7fa;
}

ion-button.right {
    float: right;
}

ion-col.option-col{
    padding: 0;
}

ion-button.check-button {
    font-family: "Kalam";
    font-size: 20px;
    --background: #9c29b7;
    --border-radius: 10px;
}

.card-content-options{
    display: flex;
    justify-content: center;
}