ion-content.lesson-content {
    --background: url('../../images/FondoLeeciones.png')0 0/270px 486px repeat;
    color:white;
}
ion-button.button{
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    color:white;
    font-size: 22px;
}