ion-content.lessons-list {
    --background: url('../../images/FondoLeeciones.png') 0 0/270px 486px repeat;
}

ion-toolbar.lessons-toolbar {
    --background:transparent;
}

.ion-color-light-blue  {
    --ion-color-white: #acc7ed; 
}

ion-title.title-font-lessons {
    position: absolute;
    left: calc(50% - 73px); 
    color: white; 
    font-family: 'Amatic SC',cursive;
    color:white;
    font-size: 40px;
    padding: 0;
}

ion-menu-button.lessons-list-menu-button{
    position: absolute; 
    left: calc(100% - 50px);
    font-size: 55px;
}