ion-toolbar.lessons-toolbar {
    --background: transparent;
}

.title-font {
    font-weight: bold;
    font-family: 'Amatic SC',cursive;
    color:white;
    font-size: 35px;  
    text-align: center;
}

ion-button.back-header{
    position: absolute;
    top: 25%;
    left: -10px;
    --background: transparent;
    --box-shadow: none;
}