ion-label.button-footer {  
    font-weight: bold;
    font-family: 'Kalam', cursive;
    position: relative; 
    font-size: 10px;
    color: black; 
}

ion-item.sound-button {
    width: 70px;
    height: 70px;
    margin-bottom: 2px;
    --border-radius: 50%;
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --border-width: 0;
    --inner-border-width: 0;
}

.playsound-container {
    width: 60px; 
}

.image-button {
    width: 70px; 
    height: 70px;

}