:root{
    --generalPadding:15px;
    --colorTheme:  darkorchid;
}

.select-avatar-div {
  position: relative;
  text-align: center;
  font-family: 'Kalam', cursive;
  color: lightblue;
  font-size: 20px;
}

ion-button.submit-button{
    --background: darkorchid;
    --padding-left: var(--generalPadding);
    --padding-right: var(--generalPadding);
    --border-radius: 10px;
    --align-self: center;
}

ion-label.newAccount-label{
  font-weight: bold;
  --ion-font-family: 'Amatic SC', cursive;
  text-align: left;
}

ion-item.newAccount-background{
  --background: transparent;
  font-size: 30px;
  color: lightblue;
}

ion-input.input-back-ground{
  --background: transparent;
  font-family: 'Kalam', cursive;
  font-size: 17px;
  color: white;
}

.email-alert{
  font-weight: bold;
  font-family: 'Kalam', cursive;
  color:crimson;
  font-size: 16px;
}

ion-item.accept-message{
  display: inline-block;
  font-weight: bold;
  font-family: 'Kalam', cursive;
  color: lightblue;
  font-size: 14px;
  width: 75%;
}

.alert-message {
  font-family: "Amatic SC"; 
  text-align: center; 
  color: #1c0c4f;
  font-size: 40px;
  --background: lightblue;
}

ion-item.item-checkbox {
  display: inline-block;
  width: 20%;
  
}

ion-checkbox.terminos-checkbox {
  margin: 0;
  --height: 35px;
  --width: 35px;
}

.error-alert-message {
    font-family: "Amatic SC"; 
    font-size: 35px;
    color: #1c0c4f; 
}

.alert-register .alert-button {
  font-family: 'Kalam', cursive;
  font-size: 25px;
  color: #1c0c4f; 
}