.alert-tappable.sc-ion-alert-md {
    font-family: 'Kalam', cursive;
}

.alert-tappable.sc-ion-alert-ios {
    font-family: 'Kalam', cursive;
}

.alert-wrapper.sc-ion-alert-md{
    --background: #d4e3fc;
}

.alert-wrapper.sc-ion-alert-ios{
    --background: #d4e3fc;
}

ion-select.question-select {
    color: white; 
    font-size:18px;
    font-family: 'Kalam', cursive;
}

.alert-radio-label.sc-ion-alert-md {
    white-space:normal !important;
    font-size:14px;
    color: black; 
}

.alert-radio-label.sc-ion-alert-ios { 
    white-space:normal !important; 
    font-size:14px;
    color: black; 
}

[aria-checked=true].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
    color: black;
}
ion-content.recover-background{
    color:white;
}