@media screen and (orientation: portrait) {
  ion-content.game-page {
    transform: rotate(90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    left: 100%;
  }

  ion-content.content {
    width: 100vh;
    height: 100vw;
  }

  ion-content.notes {
    width: 100vh;
    height: calc(100vw - 55px);
  }
  
  .initial-counter {
    top: calc(15vw + 20px);
  }
}

@media screen and (orientation: landscape) {
  ion-content.notes { 
    width: 100%;
    height: calc(100% - 55px);
  }
  
  .initial-counter {
    top: calc(15% + 20px);
  }
}

ion-toolbar.game-toolbar{
  --background: rgba(18, 06, 57, 0.8);
  color:white;
  height: 55px;
}

ion-content.content {
  --background: transparent;
  color:white;
  --overflow: hidden;
}

ion-content.notes{
  --background: transparent;
  padding: 0;
  --overflow: hidden;
}

ion-content.piano-solo{
  --background: transparent;
  position: absolute;
  height: 30%;
  bottom: 0;
}

.piano-solo-div-line{
  position: absolute;
  width: 100%;
  height: 20px; 
  background:#041b4d; 
  top: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 5;
}

.piano-solo-title{
  position: relative;
  font-family: 'Kalam', cursive;
  font-size: 25px;
  color: white; 
  text-align: center;
  top: 20%;
}

.piano-solo-soundfont{
  position: absolute;
  --background: #041b4d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-content.piano-soundprovider {
  width: 0;
  height: 0;
  z-index: -1;
}

ion-content.game-page{
  --background: url('../../images/FondoBiblioteca.png')0 0/270px 486px repeat;
}

.div-line {
  position: absolute;
  width: 100%;
  height: 20px; 
  background:#041b4d; 
  bottom: calc(40% - 20px);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 5;
}

ion-button.back-game{
  position: absolute;
  margin-top: 9px; 
  --background: transparent;
  --box-shadow: none;
}

.game-title {
  margin-top: 9px; 
  text-align: center;
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  color: white; 
}

.initial-counter {
  position: fixed; 
  text-align: center;
  font-size: 130px;
  width: 100%;
  height: 100%;
  color: white; 
}

.alert-img-game {
  display: block;
  width: 70%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

.alert-label-ok {
  font-family: "Amatic SC"; 
  font-size: 25px;
  color: #1c0c4f; 
  padding-bottom: 0px;
}

.alert-label-wrong {
  font-family: "Amatic SC"; 
  font-size: 40px;
  color: #1c0c4f; 
  padding-bottom: 0px;
}

.alert-game-wrong .alert-wrapper {
  background: #FFD2C8;
}

.alert-game .alert-button {
  font-family: 'Kalam', cursive;
  font-size: 25px;
  color: #1c0c4f; 
}

.alert-game .alert-message {
  overflow: hidden;
}
