ion-item.achievement-container {
    position: relative;
    left: 15px;
    --background: transparent;
    width: calc(100% - 15px);
}

ion-item.achievement-header {
    --background: transparent;
    --inner-padding-end: 0px;
    --padding-start: 7.5px;
    --border-width: 0;
    --inner-border-width: 0;
    color: black;
}

.header-label{
    font-size: 40px;
    font-family: 'Amatic SC', cursive !important;
    color: black;
}

.achievement-label{
    font-family: 'Kalam', cursive;
    font-size: 23px;
    color: black;
}


ion-avatar.images-achievements {
    background: white;
    width: 60px;
    height: 60px;
    border-style: solid;
    color: black;
    margin-right: 10px;
}