@media screen and (orientation: landscape) {
    .ReactPiano__Key--accidental {
        height: 20vh;
    }
    .ReactPiano__Key--active.ReactPiano__Key--accidental {
        height: 20vh;
    }
    .ReactPiano__Key--natural {
        height: 30vh; 
    }
    .ReactPiano__Key--active.ReactPiano__Key--natural {
        height: 30vh;
    }
}

@media screen and (orientation: portrait) {
    .ReactPiano__Key--accidental {
        height: 20vw;
    }
    .ReactPiano__Key--active.ReactPiano__Key--accidental {
        height: 20vw;
    }
    .ReactPiano__Key--natural {
        height: 30vw; 
    }
    .ReactPiano__Key--active.ReactPiano__Key--natural {
        height: 30vw;
    }
}

.ReactPiano__Keyboard {
    /* Used for absolute positioning of .ReactPiano__Key--accidental elements */
    position: relative;
    /* Used to lay out .ReactPiano__Key--natural elements */
    display: flex;
}

.ReactPiano__Key {
    /* Used for flexbox layout of the child .ReactPiano__NoteLabelContainer elements */
    display: flex;
}

.ReactPiano__Key--accidental {
    background: #000;  /* Change accidental keys to be completely black */
}

.ReactPiano__Key--active.ReactPiano__Key--accidental {
    border: 1px solid #fff;
    border-top: 1px solid #3ac8da;
    background: #800080;
    /* Slight height reduction for "pushed-down" effect */
}

.ReactPiano__Key--natural {
    background: #f6f5f3;
    border: 1px solid #888;
    border-radius: 0 0 6px 6px;
    cursor: pointer;
    z-index: 0;
    /*
     * Uses flexbox with margin instead of absolute positioning to have more consistent margin rendering.
     * This causes inline styles to be ignored.
     */
    flex: 1;
    margin-right: 1px;
}

.ReactPiano__Key--active.ReactPiano__Key--natural {
    border: 1px solid #3ac8da;
    background: #800080;
    /* Slight height reduction for "pushed-down" effect */
}